# config options
# ebay-fans
[fan_generic controller_left]
pin: PF7
max_power: 1
cycle_time: 0.010
kick_start_time: 0.5

[fan_generic controller_right]
pin: PF9
max_power: 1
cycle_time: 0.010
kick_start_time: 0.5

[fan_generic airscrubber1]
pin: PA6
max_power: 1
cycle_time: 0.010
kick_start_time: 0.5
tachometer_pin: PC2
tachometer_ppr: 2
tachometer_poll_interval: 0.0015

[fan_generic airscrubber2]
pin: PA2
max_power: 1
cycle_time: 0.010
kick_start_time: 0.5
tachometer_pin: PC1
tachometer_ppr: 2
tachometer_poll_interval: 0.0015